.clients {
  padding: 30px 0;
}

/* .clients__wrapper {} */

.clients__brands {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.clients__brand {
  width: 130px;
  height: 47px;
}

@media screen and (min-width: 768px) {
  .clients__brands {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1152px) {
  .clients {
    padding: 40px 0;
  }

  .clients__brand {
    width: 200px;
    height: 72px;
  }
}
