.clients {
  padding: 30px 15px;
}

/* .clients__wrapper {} */

.clients__brands {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.clients__brand {
  width: 130px;
  height: 47px;
}

@media screen and (min-width: 768px) {
  .clients {
    padding: 30px 39px;
  }
  
  .clients__brands {
    grid-template-columns: repeat(4, 1fr);
  }
}
