.column img {
  width: 40px;
  height: 40px;
}

.column__title {
  font-size: 16px;
}

.column__list {
  margin-top: 20px;
  font-size: 14px;
}

.column__item {
  margin-top: 10px;
}

@media screen and (min-width: 1152px) {
  .column__title {
    font-size: 20px;
  }

  .column__item {
    font-size: 16px;
  }
}
