.download {
  padding: 30px 0;
}

/* .download__wrapper {} */

/* .download__text-block {} */

.download__title {
  font-size: 30px;
  font-weight: 700;
}

.download__text {
  margin-top: 20px;
}

.download__links {
  margin-top: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.download__link {
  display: block;
  width: 150px;
  height: 44px;
}

.download__image-block {
  margin-top: 30px;
  width: 290px;
  height: 230px;
  border: 1px solid #aaa;
  border-radius: 20px;
  overflow: hidden;
}

.download__image-block img {
  display: block;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .download__wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .download__title {
    font-size: 36px;
  }

  .download__image-block {
    flex-shrink: 0;
    margin-top: 0;
    width: 330px;
    height: 260px;
  }

  .download__links {
    flex-direction: row;
    gap: 20px;
  }

  @media screen and (min-width: 1152px) {
    .download {
      padding: 40px 0;
    }

    .download__title {
      font-size: 42px;
    }

    .download__wrapper {
      gap: 40px;
    }

    .download__text {
      font-size: 18px;
    }

    .download__image-block {
      width: 445px;
      height: 350px;
    }
  }
}
