.footer {
  padding: 30px 0;
  color: #fff;
  background: #484848;
}

/* .footer__wrapper {} */

.footer__columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.footer__logo {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
}

.footer__logo img {
  width: 216px;
  height: 23px;
}

.footer__info {
  margin-top: 30px;
}

.footer__copy {
  margin-top: 10px;
  font-size: 12px;
  line-height: 150%;
}

.footer__dev {
  display: flex;
  justify-content: center;
}

.footer__dev img {
  margin-top: 10px;
  width: 130px;
  height: 46px;
}

@media screen and (min-width: 768px) {
  .footer__columns {
    grid-template-columns: repeat(4, 1fr);
  }

  .footer__info {
    display: flex;
  }

  .footer__body {
    width: 650px;
  }

  .footer__copy {
    font-size: 14px;
  }

  .footer__dev img {
    margin-top: 0;
    width: 160px;
    height: 60px;
  }
}

@media screen and (min-width: 1152px) {
  .footer {
    padding: 40px 0;
  }

  .footer__columns {
    grid-template-columns: repeat(6, 1fr);
  }

  .footer__info {
    margin-top: 40px;
    justify-content: space-between;
  }

  .footer__copy {
    font-size: 16px;
  }
}
