.footer {
  padding: 30px 15px;
  color: #fff;
  background: #484848;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: repeat (2, 1fr);
  gap: 30px;
}

/* .footer__columns {} */

.footer__logo {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
}

/* .footer__info {} */

/* .footer__copy {} */

.footer__dev {
  display: flex;
  justify-content: center;
}

.footer__dev img {
  margin-top: 10px;
  width: 130px;
  height: 46px;
}
