.menu {
  display: none;
  background: #fff;
}

.menu.active {
  display: block;
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
}

.menu__item {
  padding: 24px 15px;
  border-bottom: 1px solid #aaa;
}

.menu__item a {
  font-size: 24px;
}

@media screen and (min-width: 1152px) {
  .menu {
    display: flex;
    gap: 40px;
  }

  .menu__item {
    padding: 0;
    border-bottom: none;
  }

  .menu__item a {
    font-size: 20px;
  }
}
