/* reset style
*/
* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  font-size: inherit;
  background: none;
  border: none;
}

select {
  color: inherit;
  appearance: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

img {
  width: 100%;
}