.warranty {
  padding: 30px 15px;
}

/* .warranty__wrapper {} */

/* .warranty__text-block {} */

.warranty__title {
  font-size: 26px;
  font-weight: 700;
}

.warranty__text:first-of-type {
  margin-top: 20px;
}

.warranty__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 150%;
}

.warranty__image-block {
  margin-top: 30px;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #aaa;
}

@media screen and (min-width: 768px) {
  .warranty {
    padding: 30px 39px;
  }

  .warranty__wrapper {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 30px;
  }

  .warranty__title {
    font-size: 30px;
  }

  .warranty__image-block {
    flex-shrink: 0;
    margin-top: 0;
    height: 34.5vw;
  }

  .warranty__image-block img {
    height: 100%;
  }
}
